//NOTE: The contents of this file was moved to AppBundle/Module/DeliverySlip/ folder to be ready for the new layout

script#deliveryslip-template(type='text/x-handlebars-template')
	.SEModule.SEM-Deliveryslip
		include ../../AppBundle/Module/DeliverySlip/DeliverySlipCompose
		include ../../AppBundle/Module/DeliverySlip/DeliverySlipView
		include ../../AppBundle/Module/DeliverySlip/DeliverySlipFile
		include ../../AppBundle/Module/DeliverySlip/DeliverySlipEmpty

// BEGIN LivePerson Monitor.
script(language='javascript').
	var lpMTagConfig = {
	'lpServer' : "server.iad.liveperson.net",
	'lpNumber' : "79694468",
	'lpProtocol' : "https"
	};
	function lpAddMonitorTag(src) {
	if (Application.disableLivePerson === true)
	return
	if (typeof (src) == 'undefined' || typeof (src) == 'object') {
	src = lpMTagConfig.lpMTagSrc ? lpMTagConfig.lpMTagSrc
	: '/hcp/html/mTag.js';
	}
	if (src.indexOf('http') != 0) {
	src = lpMTagConfig.lpProtocol + "://" + lpMTagConfig.lpServer + src
	+ '?site=' + lpMTagConfig.lpNumber;
	} else {
	if (src.indexOf('site=') < 0) {
	if (src.indexOf('?') < 0)
	src = src + '?';
	else
	src = src + '&';
	src = src + 'site=' + lpMTagConfig.lpNumber;
	}
	}
	;
	var s = document.createElement('script');
	s.setAttribute('type', 'text/javascript');
	s.setAttribute('charset', 'iso-8859-1');
	s.setAttribute('src', src);
	document.getElementsByTagName('head').item(0).appendChild(s);
	}
	if (window.attachEvent)
	window.attachEvent('onload', lpAddMonitorTag);
	else
	window.addEventListener("load", lpAddMonitorTag, false);
	// END LivePerson Monitor.
