.idea/*
*/__pycache__
__pycache__
/*.zip
temp/
*/.DS_Store
cloakx/cex_html/*
cloakx/test_cexs/**
exdown/extensions/*
exdown/extensions-orig/*
exdown/extensions-mixed/*
exdown/error.csv
*.pyc
*.exe
tajs*.jar
TAJS*.jar
/testcases/*.js.json
/testcases/*.js.out
/testcases/*.js.err
/testcases/*.html.json
/testcases/*.html.out
/testcases/*.html.err
*/.DS_Store
tajs-orig/