body {
    font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    background: white !important;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.clr {
    clear: both;
}

#heartbeat_menu_popup {
    width: 800px;
    height: 480px;
}

#heartbeat_menu_header {
	background: #b71b1c;
    box-shadow: 0px 2px 2px #ccc;
    height: 68px;
    width: 100%;
    padding: 7px 0 0 10px;
    z-index: 10;
}

#heartbeat_hearder_title {
    background: url(../img/beating-heart-shadownew.png);
    background-size: 51px 51px;
    background-repeat: no-repeat;
    font-size: 24px;
    color: white;
    width: 100%;
    height: 51px;
    padding-top: 10px;
    padding-left: 61px;
}

#heartbeat_version {
    color: #FFFFFF;
    position: relative;
    float: right;
    bottom: 13px;
    right: 13px;
    font-size: 11px;
}

#heartbeat_menu_body {
    width: 100%;
    height: 312px;
    z-index: 9;
}

#heartbeat_sidebar {
    width: 200px;
    height: 100%;
    float: left;
    background: #d32f2e;
}

#heartbeat_sidebar h3 {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}

#heartbeat_sidebar ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#heartbeat_sidebar ul li {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #feadac;
    color: white;
    cursor: pointer;
    line-height: 40px;
    transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    font-size: 16px;
    padding-left: 40px;
}

#heartbeat_sidebar ul li:last-child {
    border-bottom: none;
}

#heartbeat_sidebar ul li a {
    color: white;
    text-decoration: none;
}

#heartbeat_sidebar p.p_link {
    color: white;
    text-align: center;
    text-decoration: underline;
    line-height: 35px;
    cursor: pointer;
}

#heartbeat_sidebar ul li:hover {
    background: #ff3334;
}

#heartbeat_sidebar ul li.active {
    background: #ff3334;
}

#heartbeat_sidebar ul li img {
    height: 20px;
    margin: 10px 15px 10px 15px;
    float: left;
}

#heartbeat_content {
    top: -8px;
    width: 600px;
    height: 315px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.settings_section {
    margin-top: -15px;
}

.setting_page_content {
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.setting_page_content a {
    padding: 10px;
}

.setting_page_content.active {
    display: block;
}

.setting_page_content label {
	font-size: 13px;
    font-weight: normal;
}

.setting_page_content [type="checkbox"]:not(:checked),
.setting_page_content [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.setting_page_content [type="checkbox"]:not(:checked) + span,
.setting_page_content [type="checkbox"]:checked + span,
.setting_page_content [type="checkbox"]:not(:checked) + [type="color"] + span,
.setting_page_content [type="checkbox"]:checked + [type="color"] + span {
	display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.setting_page_content [type="checkbox"]:not(:checked) + span:before,
.setting_page_content [type="checkbox"]:checked + span:before,
.setting_page_content [type="checkbox"]:not(:checked) + [type="color"] + span:before,
.setting_page_content [type="checkbox"]:checked + [type="color"] + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    border: 1px solid #aaa;
}

.setting_page_content [type="checkbox"]:not(:checked) + span:after,
.setting_page_content [type="checkbox"]:checked + span:after,
.setting_page_content [type="checkbox"]:not(:checked) + [type="color"] + span:after,
.setting_page_content [type="checkbox"]:checked + [type="color"] + span:after {
    content: '\2713';
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 11px;
    color: red;
    font-weight: bold;
    transition: all .2s;
}

.setting_page_content [type="checkbox"]:not(:checked) + span:after,
.setting_page_content [type="checkbox"]:not(:checked) + [type="color"] + span:after {
    opacity: 0;
    transform: scale(0);
}

.setting_page_content [type="checkbox"]:checked + span:after,
.setting_page_content [type="checkbox"]:checked + [type="color"] + span:after {
    opacity: 1;
    transform: scale(1);
}

.setting_page_content [type="checkbox"]:disabled:not(:checked) + span:before,
.setting_page_content [type="checkbox"]:disabled:checked + span:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

.setting_page_content [type="checkbox"]:disabled:checked + span:after {
    color: #999;
}

.setting_page_content [type="checkbox"]:disabled + span {
    color: #aaa;
}

.setting_page_content [type="checkbox"]:checked:focus + span:before,
.setting_page_content [type="checkbox"]:not(:checked):focus + span:before {
    border: 1px dotted blue;
}

.setting_page_content label:hover:before {
    border: 1px solid #4778d9!important;
}

#music_player_content {
    /*background: #ccc;*/
    padding: 0px !important;
    overflow: hidden;
}

.box_setting {
    font-size: 13px;
}

.box_setting h4 {
    border-bottom: 2px solid red;
    box-shadow: 0px 1px 0px #ccc;
    font-size: 13px;
}

.box_setting h4 span {
    background: #ff3334;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
}

.box_setting a {
    cursor: pointer;
}

.setting_column {
    display: inline-block;
    vertical-align: top;
    width: 32%;
}

.setting_column label {
    font-weight: normal;
    position: relative;
}

.setting_column label input {
    margin-right: 5px;
}

.sub_item {
    float: none !important;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
    border-radius: none;
    box-shadow: none;
    background: white;
    border: solid 1px #ccc;
}

#head_music_player {
    position: absolute;
    width: 100%;
    height: 52px;
    /*background: #d32f2e;*/
    position: fixed;
}

/*.col-xs-12 {
    background: #ccc;
}

.col-md-12 {
    background: #ccc;
}*/

#heartbeat_footer {
    background: #d32f2e;
    width: 100%;
    height: 110px;
    margin-top: 0;
}

.footer-box {
    width: 32%;
    float: left;
    padding-left: 6%;
    margin-top: 15px;
}

.footer-box a {
    color: white !important;
    display: block;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 10px;
}

.footer-box a:hover span {
    text-decoration: underline;
}

.footer-box img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.footer-box i {
    color: #fff;
    width: 22px;
}

#music_player_loading {
	font-size: 12px;
	margin: 10px;
}

.box_setting.inline {
    margin-top: 20px;
}

.box_setting.inline .setting_column {
    display: block;
    width: 100%;
}

.setting_option_item {
    display: none;
    float: left;
    width: 33.33%;
}

.box_setting.inline .setting_column .setting_option_item.show.sub_item {
    display: inline-block !important;
    float: none !important;
}

.setting_option_item.show {
    display: inline-block !important;
}

.setting_column.col_4 {
    width: 40%;
}

.setting_column.col_2 {
    width: 30%;
}

.margin_10 {
    margin-top: 10px;
}

#more_settings {
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
}

.fix_shadow {
    box-shadow: none !important;
}

.panel {
    box-shadow: none !important;
}

.setting_option_col {
    width: 33.33%;
    float: left;
    vertical-align: top;
}

.setting_option_col .setting_option_item {
    width: 100%;
    float: none;
    display: block;
}

.setting_option_col .sub_item {
    display: none !important;
}

.setting_option_col .sub_item.show {
    display: block !important;
    padding-left: 15px;
}

.setting_option_item.sub_item.show {
    padding-left: 15px;
    width: 100%;
}

#heartbeat_menu_popup {
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 1050001;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 1;
    white-space: normal !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(1);
}

.hide {
    display: none;
}

.tooltip.freedom_hid {
    opacity: 0;
    visibility: hidden;
    top: -1000px;
    left: -1000px;
}


.tooltip_arrow_inner,
.tooltip_arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}

.tooltip.top .tooltip_arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #d32f2e;
}

.tooltip.top .tooltip_arrow_inner {
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: #fff;
    top: -5px;
}

.tooltip.top .tooltip_arrow_inner2 {
    background: #fff;
    width: 8px;
    height: 2px;
    position: absolute;
    top: -7px;
    left: -4px;
}

.tooltip_inner {
    max-width: 200px;
    min-width: 100px;
    padding: 10px;
    color: #333;
    text-align: center;
    text-decoration: none;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d32f2e;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

#youtube_section .setting_content {
    display: none;
}

#youtube_section .setting_content.active {
    display: block;
}

#youtube_section .box_setting .setting_subsection_header span {
    background: #FFF;
    color: #999;
    cursor: pointer;
}

#youtube_section .box_setting .setting_subsection_header span:hover {
    background: #ff3334;
    color: #FFF;
    cursor: pointer;
}

#youtube_section .box_setting .setting_subsection_header span.active {
    background: #ff3334;
    color: #FFF;
}

.setting_page_content [type="color"] {
    width: 13px;
    padding: 0;
    border: 1px solid #aaa;
    height: 13px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
}

.setting_page_content [type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.setting_page_content [type="color"]::-webkit-color-swatch {
    border: none;
}

.setting_page_content [type="radio"] + span {
    margin-left: 10px;
}

.setting_option_col .sub_item.show .fa.fa-save {
    margin-left: 10px;
    cursor: pointer;
}

#heartbeat_session {
    position: absolute;
    top: 15px;
    right: 13px;
}

#heartbeat_session a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

#heartbeat_session li a {
    color: #b71b1c;
    padding: 5px 10px;
    display: block;
    min-width: 120px;
    text-decoration: none;
}

#heartbeat_session li a:hover {
    background: #b71b1c;
    color: #fff;
}

#heartbeat_session ul {
    background: #fff;
    box-shadow: 0px 2px 2px #ccc;
    position: absolute;
    top: 24px;
    right: 0;
    list-style-type: none;
    padding: 0;
    z-index: 999;
}

#heartbeat_session a img {
    vertical-align: middle;
    width: 24px;
    border-radius: 50%;
    margin-right: 5px;
}

#heartbeat_session a i {
    margin-left: 5px;
}

#default_content {
    padding: 0;
}

#default_content .background {
    width: 100%;
    height: 100%;
    background: url('https://www.heartbeat.tm/images/heartbeat-wider.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #fff;
}

#default_content .out-container {
    position: absolute;
    top: 50px;
    left: 159px;
    width: 365px;
    height: 72%;
    background: url('https://www.heartbeat.tm/images/heart-overlay.png') no-repeat;
    background-size: 77%;
}

#default_content .header {
    padding-top: 8px;
    padding-left: 10px;
}

#default_content .socialicons {
    background: url('https://www.heartbeat.tm/images/connect-buttons.png') no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px 1px;
}

#default_content .header a {
    padding: 0;
}

#default_content #social-fb {background-position: -41px top;}
#default_content #social-yt {background-position: -82px top;}
#default_content #social-tw {background-position: -164px top;}
#default_content #social-mail {background-position: -124px top;}

#default_content .body {
    margin-top: 20px;
}

#default_content .body .heartbeat {
    background: url('https://www.heartbeat.tm/images/beating-heart.png') no-repeat;
    background-position: center;
    background-size: 100%;
    margin: auto;
    width: 150px;
    height: 150px;
    animation: beat 2s infinite;
    -webkit-animation: beat 2s infinite;
}


@keyframes beat {
    0%   {transform: scale(0.7,0.7);-ms-transform: scale(0.7,0.7);-webkit-transform: scale(0.7,0.7);}
    30%  {transform: scale(1,1); -ms-transform: scale(1,1); -webkit-transform: scale(1,1); }
    100% {transform: scale(0.7,0.7);-ms-transform: scale(0.7,0.7);-webkit-transform: scale(0.7,0.7);}
}

@-webkit-keyframes beat /* Safari and Chrome */ {
    0%   {transform: scale(0.7,0.7);-ms-transform: scale(0.7,0.7);-webkit-transform: scale(0.7,0.7);}
    30%  {transform: scale(1,1); -ms-transform: scale(1,1); -webkit-transform: scale(1,1); }
    100% {transform: scale(0.7,0.7);-ms-transform: scale(0.7,0.7);-webkit-transform: scale(0.7,0.7);}
}

#default_content .footer {
    margin-top: 37px;
    text-align: center;
}

#default_content .footer a {
    color: #FFF;
}

#theme_rendering {
    text-align: center;
    display: none;
}

#theme_rendering span {
    margin-left: 10px;
}