:root {
  --mdc-theme-primary: #1F94E0;
  --mdc-theme-accent: #ff0000;
}

a:not(.mdc-list-item) {
  color: #1F94E0;
  text-decoration: none;
}
a:not(.mdc-list-item):hover {
  color: #82CEFF;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 0;
  font-family: Roboto, sans-serif;
}

h2 {
  margin: 0 0 16px 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #6C6C6C;
}

h2.dense {
  margin: 0;
}

hr {
  margin: 16px -16px;
  border-top: 1px solid #D9D9D9;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

main {
  width: 300px;
}

label.mdc-list-item {
  cursor: pointer;
}

.mdc-list-item__checkbox {
  width: 40px;
  height: 40px;
  margin: 0;
}

.mdc-list-item__start-detail {
  flex-grow: 0;
  flex-shrink: 0;
}

.mdc-list-item__start-detail .material-icons {
  line-height: 40px;
}

.mdc-list-group .mdc-list-divider {
  margin: 0 -16px;
}

.mdc-textfield.mdc-textfield--upgraded {
  margin-top: 0;
}

.mdc-textfield,
.mdc-textfield .mdc-textfield__input {
  width: 100%;
}

.logo {
  padding: 16px;
  outline: none;
}

.logo img {
  width: 110px;
  height: 23px;
}

.login__wizkids {
  padding: 16px;
  text-align: center;
}

.login__remember {
  display: flex;
  flex-direction: row;
  margin-left: -11px;
  align-items: center;
  justify-content: space-between;
}

.align {
  display: flex;
  align-items: center;
}

.login__actions {
  text-align: right;
}

#other-login__error {
  color: #d50000;
}

#login__form {
  text-align: left;
}

#username-helptext,
#password-helptext {
  height: 16px;
  margin-bottom: 0;
}

#username-helptext-empty,
#username-helptext-incorrect,
#username-helptext-license-no,
#username-helptext-license-disabled,
#username-helptext-license-expired,
#username-helptext-license-no-languages,
#password-helptext-empty,
#password-helptext-incorrect,
#password-helptext-expired {
  display: none;
}

.other-login {
  margin: 0 0 16px 0;
}

.uni-login .uni-login__content {
  display: block;
  content: ' ';
  background: url('/images/icons.png') no-repeat right -66px;
  width: 76px;
  height: 16px;
}

.mdc-textfield,
.mdc-list {
  font-size: 0.9rem;
}

.mdc-list,
.mdc-textfield,
.mdc-button {
  letter-spacing: normal;
}

.mdc-list--avatar-list .mdc-list-item__start-detail {
  width: 20px;
  height: 20px;
}

.mdc-list-item__start-detail .material-icons {
  line-height: 20px;
}

.mdc-list-item__start-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mdc-list-item__text {
  flex: 1 1 100%;
}

.mdc-button--primary {
  font-weight: 700;
}

.uni-login,
.google-btn {
  width: 110px;
}

.google-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.google-btn .google-btn__icon {
  display: block;
  background: URL('/images/googlelogin.svg') no-repeat center;
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
}

.google-btn .google-btn__text {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  flex: 1 1 100%;
  padding-left: 8px;
  text-transform: none;
}

#remember-checkbox-label {
  color: var(--mdc-theme-primary, rgba(0,0,0,.87));
}

.mdc-textfield.mdc-textfield--empty {
  --mdc-theme-text-primary-on-light: var(--mdc-theme-primary, rgba(0,0,0,.87));
  --mdc-theme-text-hint-on-light: var(--mdc-theme-primary, rgba(0,0,0,.87));
}

.mdc-textfield--empty.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline):after {
  background-color: var(--mdc-theme-primary, rgba(0,0,0,.12));
}

.mdc-textfield--empty.mdc-textfield--invalid:not(.mdc-textfield--focused).mdc-textfield--upgraded:after, .mdc-textfield--invalid:not(.mdc-textfield--focused):after {
  background-color: #d50000;
}

.mdc-list--avatar-list .mdc-list-item {
  height: 48px;
}

.mdc-list--avatar-list .mdc-list-item:hover {
  background-color: #eeeeee;
}

.link.link--disabled {
  opacity: 0.6;
  cursor: default;
  height: auto;
  min-height: 48px;
}

.link.link--disabled:hover {
  background-color: #ffffff;
}

.link:not(.link--disabled) .mdc-list-item__text__secondary {
  display: none;
}

.link .mdc-list-item__text__secondary {
  color: inherit;
  letter-spacing: inherit;
}