body {
    margin: 0;
    overflow: hidden;
}

#page_body {
    width: 100%;
    min-height: 200px;
}

#heartbeat_option_header {
    height: 50px;
    background: rgb(203, 55, 55);
}

#heartbeat_option_header img {
    float: left;
    margin-left: 30px;
    width: 30px;
    margin-top: 10px;
}

#heartbeat_option_header p {
    float: left;
    line-height: 50px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0px 0px 0px 10px;
}

#settings_menu {
    background: rgb(203, 55, 55);
    border-bottom: 1px solid rgb(203, 55, 55);
    padding-left: 15px;
}

#settings_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#settings_menu ul li {
    display: inline-block;
}

#settings_menu ul li a {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid transparent;
    line-height: 40px;
}

#settings_menu ul li a.selected {
    border-bottom: 2px solid white;
}

#settings_body {
    padding: 0 15px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 115px;
    bottom: 0;
    right: 0;
}

#youtube_section {
    width: 80%;
    float: left;
}

#shorcut_section {
    width: 20%;
    float: left;
}

#shorcut_section img {
    width: 30px;
    height: 30px;
    margin-bottom: -20px;
    padding: 10px;
    cursor: pointer;
}

#shorcut_section img:hover {
    opacity: 0.8;
}

.setting_column {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.setting_option_item {
    margin-bottom: 5px;
    float: none;
    width: 300px;
}

.setting_option_item.sub_item {
    padding-left: 25px;
    float: none;
}

#youtube_table td {
    vertical-align: baseline;
}

.hbeat_header {
    font-weight: bold;
    padding-left: 6px;
    text-align: left;
    color: #999;
}

/*.setting_option_item input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border: solid 1px #ccc, border-radius: 2px;
}*/

.setting_subsection_header {
    color: #888;
    clear: both;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
}

.setting_subsection_header:first {
    margin-top: 0px;
}

.setting_section_header {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    margin: 10px 0;
    padding-bottom: 2px;
}

.settings_section {
    padding-bottom: 15px;
    padding-top: 15px;
}

.settings_section.selected {
    display: block;
}

.setting_section_body > .setting_subsection_header:first-child {
    margin-top: 0px;
}

.clr {
    clear: both;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: none;
    box-shadow: none;
    background: white;
    border: solid 1px #ccc;
}

#page_body label {
    font-size: 15px;
}

#page_body [type="checkbox"]:not(:checked), 
#page_body [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

#page_body [type="checkbox"]:not(:checked) + span, 
#page_body [type="checkbox"]:checked + span {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
}

#page_body [type="checkbox"]:not(:checked) + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    border: 1px solid #aaa;
} 


#page_body [type="checkbox"]:checked + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    background: #d82929;
}

#page_body [type="checkbox"]:not(:checked) + span:after, 
#page_body [type="checkbox"]:checked + span:after {
    content: '\2713';
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    transition: all .2s;

}

#page_body [type="checkbox"]:not(:checked) + span:after {
    opacity: 0;
    transform: scale(0);
}

#page_body [type="checkbox"]:checked + span:after {
    opacity: 1;
    transform: scale(1);
}

#page_body [type="checkbox"]:disabled:not(:checked) + span:before, 
#page_body [type="checkbox"]:disabled:checked + span:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

#page_body [type="checkbox"]:disabled:checked + span:after {
    color: #999;
}

#page_body [type="checkbox"]:disabled + span {
    color: #aaa;
}

#page_body [type="checkbox"]:checked:focus + span:before, 
#page_body [type="checkbox"]:not(:checked):focus + span:before {
    border: 1px dotted blue;
}

#page_body label:hover:before {
    border: 1px solid #4778d9 !important;
}

.hb_streamers {
    font-size: 15px;
}

.hb_streamer_link {
    font-size: 12px;
}

#hb_reset_option_btn {
    position: absolute;
    right: 30px;
    top: 10px;
    height: 30px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

#hb_reset_option_btn:hover {
    background: #fff;
    color: rgb(203, 55, 55);
}

.menu {
    transition: 0.3s;
}
