.dailymotion_streamer_application {
    padding: 15px;
    background: #D62929;
    color: #ffffff;
}

#dailymotion_congrats_message {
    display: none;
}

#dailymotion_congrats_message a {
    color: #ffffff;
    font-weight: bold;
}

#dailymotion_submit_button {
    text-align: center;
    color: #000000;
}

#dailymotion_earnings,
#video_views_count {
    float: right;
}

#dailymotion_earnings {
    margin-left: 10px;
}

.sd_video_socialbuttons {
    width: 100%;
    text-align: right;
}

.switch {
    float: left;
    margin-top: 21px;
    margin-right: 10px;
}

.hb_light_toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.hb_light_toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.hb_light_toggle_round + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    background-color: #999;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

input.hb_light_toggle_round + label:before, input.hb_light_toggle_round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.hb_light_toggle_round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.hb_light_toggle_round + label:after {
    width: 19px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}

input.hb_light_toggle_round:checked + label:before {
    background-color: #ffffff;
}

input.hb_light_toggle_round:checked + label:after {
    margin-left: 20px;
    background-color: #999;
}

#hb-game-menu a {
    opacity: 1 !important;
    margin-bottom: 10px;
}

.hb-streamers, .hb-game-stats {
    margin: 0 !important;
    background: #E3E3E3;
}

.hb-streamers:hover, .hb-game-stats:hover {
    margin: 0 !important;
    background: #EFEFEF;
}

.hb-streamers a, .hb-game-stats a {
    padding: 0 !important;
    opacity: 1 !important;
}

.count-viewers-views #dailymotion_earnings {
    font-size: 18px;
    font-weight: 600;
    color: #44474d;
}

.count-viewers-views .estimated_abbr {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 600;
    margin-left: 5px;
}

.views_and_share .estimated_abbr {
    margin-left: 5px;
}

.count-viewers-views > p {
    display: inline-block;
}


#freedom_twitter_timeline_iframe {
    height: 620px;
}

#freedom_facebook_timeline_iframe {
    height: 400px;
}

.hide {
    display: none;
}

.tab_active {
    background: #198ec0;
}

.dmc__chat__room__footer {
    padding: 60px 0 !important;
}

#stats-container h2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

#twitch_tabs span {
    padding-left: 5px;
    padding-top: 5px;
    margin-right: 15px;
    font-size: 14px;
    color: #6441a5;
    cursor: pointer;
    display: inline-block;
}

.active_panel {
    display: block !important;
}

.active_tab {
    background: #42aedc;
    color: white !important;
}

.tab {
    padding-right: 10px;
    padding-left: 10px !important;
}


.heartbeat_icon {
    background: url(https://s3.amazonaws.com/heartbeat.asset/logo.png);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

#btn_notify_me {
    color: #fff;
    background-color: #42aedc;
    border-color: #42aedc;
}

#btn_notify_me:hover {
    color: #fff;
    background-color: #2ca5d8;
    border-color: #2ca5d8;
}

#btn_notify_me .heartbeat_icon {
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

#btn_notify_me .button_text,
#btn_notify_me i {
    vertical-align: middle;
}

#btn_notify_me_wrap {
    display: inline-block;
    float: left;
    margin-left: 20px;
}

#btn_notify_me:hover .hover,
#btn_notify_me .stay {
    display: inline-block;
}

#btn_notify_me .hover,
#btn_notify_me:hover .stay {
    display: none;
}

.hb_video_count .fa-eye,
.hb_video_count .fa-comment-o {
    font-size: 14px;
}

.hb_video_count .fa-eye::after {
    content: '\002022';
    margin: 0 5px;
}

.ellipsis .hb_follower_count::before {
    content: '\002022';
    margin: 0 5px;
}
