.hb_photo_zoom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
    border: 2px solid gray;
    max-width: 80%;
    max-height: 80%;
}

.hb_blurry {
    -webkit-filter: blur(1px);
}
