.yJa, .BJa, .mj {
background: transparent !important;
}

.yDa {
background-color: #222 !important;
}

.DJa {
background-color: transparent !important;
color: #999 !important;
}

.E5, .e4 {
background-color: #1d1d1d !important;
border-color: #303030 !important;
border-top: 1px solid #303030 !important;
}

.Jea {
border-color: #303030 !important;
}

.Mga {
border-color: #1d1d1d !important;
}

.Jea, .Mga {
border-bottom-color: transparent !important;
border-left-color: transparent !important;
}

.dn, .ve.oba, .Aq,.OF, .e4, .cp {
color: #aaa !important;
}

.gj.d-s, .qg {
color: #777 !important;
}

.g9 .Xa.va .vy, .g9 .Xa.va .dp.d-s, .g9 .Xa.va .ot-anchor, .g9 .Xa.va .ot-hashtag, .g9 .Xa.va .proflink, .g9 .Xa.va .proflinkPrefix, .g9 .Xa.va .gj.d-s, .Xa.va .qg, .Xa.va .mi.d-s {
color: #427fed !important;
}

.ot-hashtag, .proflink, .zDa, .proflinkPrefix {
color: #bbb !important;
}

.d-A, .d-Kl, .d-A-yb .d-A-B, .d-A-u .d-A-B {
color: #ccc !important;
}

.bmd {
color:#590;
}

.r3 .r0 {
border-color: #303030 !important;
background: #242323 !important;
color: #aaa !important;
}

.d-y-r-c {
background-color: #2b2b2b !important;
background-image: -webkit-linear-gradient(top,#222 0,#2c2c2c 100%) !important;
background-image: linear-gradient(to bottom,#222 0,#2c2c2c 100%) !important;
border-color: #444 !important;
color: #bbb !important;
}

.xN .d-y-r-c-ha, .Pga.d-A .d-A-B {
color: #bbb !important;
}

.d-k-l.d-y-r-c-Qa, .ena {
background: no-repeat url(http://i.imgur.com/ho8PnMO.png) -131px -17px !important;
}

.d-r {
background: #222 !important;
border: 1px solid #444 !important;
}

.d-A-yb, .d-A-u {
background-color: #333 !important;
border-style: solid !important;
border-color: #333 !important
}

.Hma .Pga.d-A-yb {
border: none !important;
}

.ot-anchor {
color: #6f6f6f !important;
}

.dga {
background-color: #151515 !important;
border-color: #303030 !important;
}

.mj .g-h-f-vc-B {
border-color: #303030 !important;
}

.mj .tm {
background: no-repeat url(http://i.imgur.com/VpPZ6yW.png) -13px -719px !important;
}

.g-h-f-k .g-h-f-V-nb {
border-color: #303030 !important;
}

.g-h-f-V-nb {
background: #222 !important;
}

.d-cm {
border-top-color: #303030 !important;
}

.g-h-f-m-wc-E, .g-h-f-m-Ed-wc-E {
background: no-repeat url(http://i.imgur.com/p4Hnp94.png) -21px -25px !important;
}

.jbgcdb {
color: #aaa !important;
}

.IGPVEc {
background: no-repeat url(http://i.imgur.com/k5G05JP.png) -131px 0 !important;
}

.FnlLyd:hover {
background-color: #222 !important;
border-color: #303030 !important;
}

.FnlLyd:active {
background-color: #2a2a2a !important;
border-color: #444 !important;
}

.Kgb, .Y8b .TD {
background-color: #3a3a3a !important;
}

.MJa.JMc {
background: no-repeat url(http://i.imgur.com/G39kb8k.png) 0 -186px !important;
}

.LJa.Zld {
background: no-repeat url(http://i.imgur.com/G39kb8k.png) 0 -204px !important;
}

.MJa {
background: no-repeat url(http://i.imgur.com/KxkJKLZ.png) 0 -144px !important;
}

.LJa {
background: no-repeat url(http://i.imgur.com/KxkJKLZ.png) 0 -175px !important;
}

.Bl {
background: no-repeat url(http://i.imgur.com/IjLPagd.png) 0 -49px !important;
}

.Kx {
background: no-repeat url(http://i.imgur.com/IjLPagd.png) -171px -21px !important;
}

.M7Fqc {
color: #aaa !important;
}

.cp {
background-color: #131313 !important;
}

.sk {
background: #222 !important;
border-color: #222 !important;
outline: none !important;
}

.Uv {
background-image: url(http://i.imgur.com/hdu6je8.gif) !important;
}

.e0c,
.nbc,
.obc {
	background: #1d1d1d;
}

.obc .zvd {
	color: #999;
}