/**
    Variants
**/

.reuters #heartbeat_summarizer.loading {
    animation: beat 0.8s infinite;
    -webkit-animation: beat 0.8s infinite;
}
.reuters #heartbeat_summarizer {
    -webkit-filter: grayscale(100%);
    opacity: 0.7;
}
.reuters #heartbeat_summarizer:hover {
    -webkit-filter: initial;
    opacity: 1;
}
.-clickable {
    cursor: pointer;
}
.reuters .summary-container {
    width: 350px;
    position: absolute;
    background: #ffffff;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    z-index: 100;
}
.reuters .summary-container ul {
    list-style-type: disc;
    padding: 0;
}
.reuters .summary-container ul li {
    margin: 3px 0 3px 20px;
}
.reuters .summary-container::before {
    content: '\a';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(203, 55, 55);
    position: absolute;
    left: -10px;
    top: 13px;
}
.reuters .summary-filters {
    text-align: right;
    margin-bottom: 5px;
}
.reuters .summary-filters input {
    width: 50px;
    margin-right: 10px;
}
.reuters .summary-filters .label {
    font-size: 10px;
}
.reuters #content .section .topShare .module .moduleBody ul li.twitter {
    margin-right: -5px;
}
.reuters #content .section .topShare .module .moduleBody ul li.facebook {
    margin-right: -7px;
}
/**
    Animation
**/

@keyframes beat {
    0% {
        transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
    }
    25% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    50% {
        transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
    }
    75% {
        transform: scale(1, );
        -ms-transform: scale(1, );
        -webkit-transform: scale(1, );
    }
    100% {
        transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
    }
}
@-webkit-keyframes beat
/* Safari and Chrome */

{
    0% {
        transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
    }
    25% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    50% {
        transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
    }
    75% {
        transform: scale(1, );
        -ms-transform: scale(1, );
        -webkit-transform: scale(1, );
    }
    100% {
        transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
    }
}

