.add_to_lab .icon.icon-favorite {
    display: none;
}

.invited .add_to_lab .icon.icon-favorite {
    display: block;
    position: absolute;
    right: 0px;
    top: -10px;
    font-style: 8px;
    width: 8px;
    height: 8px;
    color: red;
}

.insert_login_link {
    cursor: pointer;
}