.twitch_earnings_icon {
    color: green;
    font-weight: bold;
}

#heartbeat_twitch_light_switch {
    cursor: pointer;
    margin-left: 10px;
    vertical-align: sub;
}
/* Twitch Gamer Profile globals */

#twitch_game_input {
    height: 24px;
    padding-left: 7px;
    border: 1px solid #6441a5;
}

#twitch_game_select {
    height: 26px;
    border: 1px solid #6441a5;
    vertical-align: baseline;
}

#twitch_game_option button {
    width: 50px;
    height: 26px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #6441a5;
}

#twitch_game_toggle {
    margin-right: 15px;
    font-size: 14px;
    color: #6441a5;
}

#twitch_game_toggle span {
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;
}

#twitch_tabs span {
    padding-left: 5px;
    padding-top: 5px;
    margin-right: 15px;
    font-size: 14px;
    color: #6441a5;
    cursor: pointer;
    display: inline-block;
}

#twitch_game_wrapper {
    background: white;
    padding: 10px;
    text-align: center;
    color: black;
    font-family: Raleway;
    min-width: 860px;
    -webkit-box-shadow: 0 0 10px 1px #878787;
    box-shadow: 0 0 10px 1px #878787;
    margin-bottom: 10px;
}

#freedom_social_tabs {
    background: #19191f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    position: : absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 39px;
}

#freedom_social_tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#freedom_social_tabs ul li.freedom_social_tab {
    color: #8c8c9c;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    opacity: 0.6;
}

#freedom_social_tabs ul li.freedom_social_tab:hover {
    background: #101014;
    color: #eee;
}

#freedom_social_tabs ul li.freedom_social_tab.selected {
    background-color: #101014;
    border-bottom: 3px solid #6441a5;
    color: #eee;
    cursor: default;
    padding-bottom: 9px;
    opacity: 1;
}

.freedom_social_tab_pane {
    position: absolute !important;
    top: 40px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    display: none !important;
}

.freedom_social_tab_pane.selected {
    display: block !important;
}

#freedom_twitter_timeline_iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: none;
}

#freedom_youtube_rss_tab {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 20px;
}

.freedom_feed_item {
    margin-bottom: 20px;
    clear: both;
}

.freedom_feed_item:last {
    margin-bottom: 0px;
}

.freedom_feed_item .video_title a {
    font-weight: bold;
}

.freedom_feed_item .video_img {
    margin-bottom: 10px;
    float: left;
}

.freedom_feed_item .video_duration {
    display: block;
}

#channel .stats-and-actions.has_offline_vod {
    margin-bottom: 0 !important;
    padding-bottom: 20px !important;
}

.stat-sched {
    display: inline-block;
    width: 115px;
}

#time-label {
    width: 50px;
}

.ac-container {
    width: auto;
    text-align: left;
}

.ac-container label {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    position: relative;
    z-index: 20;
    display: block;
    height: 5px;
    cursor: pointer;
    color: #777;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height: 5px;
    font-size: 13px;
    margin-bottom: 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input:checked + label, .ac-container input:checked + label:hover {
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
}

.ac-container article p {
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.ac-container input:checked ~ article.ac-medium {
    height: 503px;
    border: 1px solid #eee;
}

.section {
    float: left;
    clear: left;
    padding: 1em 2em;
}

.chartlist {
    float: left;
    width: 115px;
}

.chartime {
    list-style-type: none;
    color: #666;
    font-size: 10px;
    padding: 3px 0px 3px 1px;
}

.colored {
    background-color: #6441a5;
}

.colored:hover {
    cursor: pointer;
}

.index {
    width: 100%;
    display: block;
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
}

.vtitle {
    text-indent: 2px !important;
}

.twitch_game_toggle_button {
    display: none
}

.twitch_game_toggle_button.on {
    display: inline-block;
}


#heartbeat_twitch_menu_wide ul li a span {
    position: relative;
    left: 11px;
}

.heartbeat_twitch_menu_narrow_hidden {
    display: none;
}

.heartbeat_twitch_menu_narrow {
    position: fixed;
    top: 261px;
    left: 50px;
    z-index: 999999999999;
    width: 246px;
    background: #19191F;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    color: #8c8c9c;
}

.wide_heartbeat_twitch_menu ul li, .heartbeat_twitch_menu_narrow ul li {
    padding: 10px;
}

.wide_heartbeat_twitch_menu ul li:hover, .heartbeat_twitch_menu_narrow ul li:hover {
    background: #101014;
    color: white !important;
    cursor: pointer;
}

.heartbeat_twitch_menu_list {
    list-style-type: none;
    text-decoration: none;
}

.heartbeat_twitch_menu_list a {
    color: #8c8c9c;
    text-decoration: none !important;
}

.heartbeat_twitch_menu_list a:hover {
    color: white;
}

.heartbeat_twitch_menu_list:hover {
    color: white;
}

.active_panel {
    display: block !important;
}

.active_tab {
    background: rgb(100, 65, 165);
    color: white !important;
}

.tab {
    padding-right: 10px;
    padding-left: 10px !important;
}

#twitch_chat_stats {
    display: none;
    padding: 15px;
    background: #19191F;
    color: white;
}

#twitch_chat_stats table {
    width: 100%;
    border-collapse: collapse;
}


.heartbeat_icon {
    background: url(https://s3.amazonaws.com/heartbeat.asset/logo.png);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

#btn_notify_me {
    position: absolute;
    top: 0;
    right: 0;
}

#btn_notify_me .heartbeat_icon {
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

#btn_notify_me .button_text,
#btn_notify_me i {
    vertical-align: middle;
}

#btn_notify_me_wrap {
    position: relative;
}

#btn_notify_me:hover .hover,
#btn_notify_me .stay {
    display: inline-block;
}

#btn_notify_me .hover,
#btn_notify_me:hover .stay {
    display: none;
}

#stats-container h2 {
    margin-bottom: 10px;
}