/*

This file is no longer being used. Please see: "www/module/deliveryslip/style.css" for CSS rules

NOTE: This file is left for compatibility with the JavaScript layer
    Do not delete this file until the JavaScript layer is no longer referencing this file.
*/

.SEM-Deliveryslip{
	background: white;
	color: #444;
	/*float: right;*/
	border: none;
	margin-left: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	/*left:0;*/
	width: 300px;
	overflow: hidden;
}

.SEM-ds-content {
	display: block;
}

.SEM-ds-title .SEM-ds-wrapper .app-collapse-icon {
  float: right;
  margin-right: 15px;
}
